body .bg-color {
  background-color: #003b6f;
}
#header {
  text-align: center;
  color: white;
}
#nav-bar {
  text-align: center;
  color: white;
}
.tardis-img {
  background-image: url("/assets/TARDIS.jpg");
  background-size: cover;
  background-position: inherit;
  vertical-align: middle;
  height: 40vh;
}
#info-cards .col {
display: flex;
justify-content: center;
margin: 20px;
}