.bg-color {
  background-color: rgb(212, 234, 241);
}
#header {
  text-align: center;
}
#nav-bar {
  text-align: center;
}
#tardis {
  max-height: 20vh;
}
.tardis-img {
  background-image: url("/assets/TARDIS.jpg");
  height: 30vh;
  width: 100%;
  background-size: auto;
  object-fit: fill;
  align-items: stretch;
}