.bg-color {
  background-color: rgb(212, 234, 241);
}
#header {
  text-align: center;
}
#nav-bar {
  text-align: center;
}
.tardis-img {
  background-image: url("/assets/TARDIS.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
}
.card {
  ;
}